@import '~variables';

.page {
  margin-top: 80px;
}

.marginBottom {
  margin-bottom: 80px;
}

.form {
  position: relative;
}

.formWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formActions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.formSubmitting, .formError, .formSent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: $color-white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formError, .formSent {
  flex-direction: column;
  text-align: center;
}

.formError {
  color: $color-red;
}

.formErrorIcon path {
  fill: $color-red;
}

.formSent {
  color: $color-green;
  font-weight: 700;
}

.formSentIcon path {
  fill: $color-green;
}

.input {
  width: 100%;
}

.telSpan {
  margin: 0 $padding-lg;
}

.submit {
  display: block;
}

@media (min-width: $layout-desktop) {
  .input {
    width: calc(50% - 10px);
  }

  .formActions {
    display: flex;
    justify-content: flex-end;
  }
}
