@import '~variables';

$margin: $margin-lg;

.list {
  list-style-type: none;
  line-height: 1.6;
  margin: (2 * $margin-sm) 0;

  li {
    display: flex;
    margin-bottom: $margin / 4;
    align-items: flex-start;

    &:before {
      content: '•';
      font-size: 2rem;
      line-height: 1.5rem;
      padding: 0 1rem;
    }
  }

  i {
    color: $color-green;
  }

  b, strong {
    font-weight: 600;
  }
}
