@import '~variables';

.wrapper {
  width: 100%;
  max-width: $content-wrapper;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.item {
  min-width: 100%;
  text-align: center;
  padding: 0 $padding-sm;
  display: flex;
  flex-direction: column;
}

@media (min-width: $layout-desktop) {
  .item {
    padding: 0;
  }
}
@for $i from 1 through 15 {
  .#{$i} .item {
    animation: slide#{$i} $i * 10s ease-in-out infinite;
  }

  @keyframes slide#{$i} {
    $step: (100 / $i);

    @for $j from 1 to $i {
      #{($step * $j) - 2}% {
        transform: translateX(-1% * (($j - 1) * 100));
      }
      #{($step * $j)}% {
        transform: translateX(-1% *($j * 100));
      }
    }

      #{(($step * $i) - 2)}% {
        transform: translateX(-1% * (($i - 1) * 100));
      }
      #{($step * $i)}% {
        transform: translateX(0);
      }
  }
}
